body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  tab-size: 2;
  margin: .5em auto;
  float: left;
  width: 100%;
}


#content {
  position: relative;
  width: 1080px;
  margin: 0 auto;
}


#details, #upload, #processing-details, #corpus-topics, #term-distribution, #graph, #data-preparation {
  position: relative;
  float: left;
}


#processing-details, #corpus-topics, #term-distribution, #file-details, #data-preparation {
  display: none;
}


#details {
  width: 380px;
}

#upload, #processing-details, #corpus-topics, #term-distribution, #data-preparation {
  width: 100%;
}


#upload p {
  position: relative;
  float: left;
  width: 100%;
}


#graph {
  width: 700px;
}


#data-preparation ul li {
  list-style: none;
}
